:root {
    --width-news: 1170px;
    --height-news: 500px;
}

.news-container {
    position: relative;
    margin-bottom: 60px;
    margin-top: -60px;
    overflow: hidden;
    // max-height: var(--height-news);
}
.news-wrapper {
    position: relative;
    overflow-x: scroll;
    display: flex;
    // flex-wrap: nowrap;
    transition: all 0.5s;
}

.news-wrapper-list {
    // height: var(--height-news);
    // width: var(--default-layout-width);
    margin-top: 10px;
    // float: left;
    position: relative;
    // display: inline-block;
    // overflow-x: scroll;
    font-family: 'Roboto';
    opacity: 1;
}

.news-container:hover .next {
    display: block;
    opacity: 1;
}

.next-left:hover ~ .next {
    display: block;
    opacity: 0.8;
}

@keyframes hover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

// Layout news

.item-1 {
    // width: 67.4%;
    // height: 100%;
    position: absolute;
    border-right: 10px solid #fff;
    top: 0;
    left: 0;
    font-size: 2.4rem;
    line-height: 31.2px;
}

.item-2 {
    position: absolute;
    top: 0;
    right: 0;
    // width: 32.6%;
    // height: 50%;
    border-bottom: 5px solid #fff;
    font-size: 1.6rem;
    line-height: 20.8px;
}

.item-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    // width: 32.6%;
    // height: 50%;
    font-size: 1.6rem;
    border-top: 5px solid #fff;
    line-height: 20.8px;
}

//
.news-image {
    display: block;
    width: 100%;
    height: 100%;
    // background-image: url('https://azfin.vn/wp-content/uploads/2021/11/AzFin-Thi-truong-Chung-khoan-hang-ngay_1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    vertical-align: top;
    border-radius: 10px;
}

.news-slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;

    &:hover .news-content::before {
        opacity: 0.6;
    }
}

.news-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 17px 20px;
    z-index: 5;
    cursor: auto;

    &::before {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.4;
        background-color: #000;
        transition: all 0.5s;
    }
}

.news-content-text {
    color: #fff;
    font-weight: 700;
    position: relative;
}

.news-content-direction {
    margin-top: 6px;
    color: #fff;
    font-size: 1.3rem;
    position: relative;

    span {
        &::after {
            content: '';
            display: inline-block;
            height: 8px;
            width: 0;
            margin: 0px 8px 0px 12px;
            border-left: 1px solid;
        }
    }

    span:last-child {
        &::after {
            display: none;
        }
    }

    a {
        color: #fff;
    }
}

//chevron next
.next {
    height: 0;
    position: absolute;
    top: 100%;
    z-index: 10;
    opacity: 0;
    display: none;
    animation: hover 0.5s linear;
}

.next-left {
    left: 20px;
    background-color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        opacity: 1;
    }
}

.next-right {
    right: 20px;
    background-color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        opacity: 1;
    }

    .icon {
        // display: block;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        // // left: 50%;
        // // margin-left: -7px;
    }
}
