:root {
    --height-icon: 20px;

    --font-weight-menubar: 700;

    --hover-color-menubar: #304ffe;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    scroll-behavior: auto;
    z-index: 10;
    transition: all 2s 1s;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    cursor: pointer;
}

.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100vh;
    background-color: #ffffff;
    padding: 30px 20px;
    overflow-y: overlay;
    z-index: 11;
    transition: all 0.1s;
}

.close {
    position: absolute;
    top: calc(30px - var(--height-icon));
    left: 20px;
    display: block;
    overflow: hidden;
    font-size: 1.6rem;
    cursor: pointer;
    color: #888888;
    transition: all 0.1s;
    svg {
        width: 25px;
        height: 25px;
    }

    &:hover {
        color: #111111;
    }
}

.logo {
    margin-bottom: 30px;
    cursor: pointer;
    img {
        width: 100%;
        height: auto;
    }
}

.nav {
    display: flex;
    flex-direction: column;
}

//nav
.nav {
}

.nav-item {
    display: flex;
    justify-content: space-between;
    font-weight: var(--font-weight-menubar);
    font-size: 1.3rem;
    line-height: 1.69rem;
    cursor: pointer;
    border-bottom: 1px solid #eeeeee;
    padding: 13px 0;
}
.nav-item a,
.nav-item,
.nav-contact a {
    &:hover {
        color: var(--hover-color-menubar);
    }
}

.nav-item:hover.nav-item a {
    color: (var(--hover-color-menubar));
}

.nav-icon {
    font-size: 1.2rem;
    display: block;
    width: 15px;
    height: 15px;
}

.nav-sub {
    padding: 10px 0px 10px 12px;
    font-size: 1.3rem;
    font-weight: var(--font-weight-menubar);
    border-bottom: 1px solid #eeeeee;

    li {
        padding: 10px 17px 10px 0;
    }
}

.nav-contact {
    font-size: 1.3rem;
    font-weight: var(--font-weight-menubar);
    padding: 13px 0;
}
.posts {
}

//content - popular potst

.content {
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: var(--font-weight-menubar);

    h4 {
        border-bottom: 3px solid #333;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 18.2px;
        padding-bottom: 8px;
    }
}

.popular-list {
    font-family: 'Roboto';
    margin-bottom: -20px;
    li {
        span {
            top: -13px;
            display: block;
            width: 26px;
            height: 26px;
            line-height: 28px;
            font-weight: 600;
            border-radius: 50%;
            background-color: rgb(56, 56, 56);
            color: rgb(255, 255, 255);
            text-align: center;
            margin-left: auto;
            font-size: 1.2rem;
            box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 25%);
            z-index: 1;
        }
    }
}

.popular-image {
    background-size: cover;
    width: 100%;
    height: 84.59px;
    margin-bottom: 16px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
        transition: opacity 0.3s;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.popular-title {
    &:hover {
        color: var(--hover-color);
        transition: all 0.3s;
    }
}

//Footer
.footer {
    height: 100px;
    margin-top: 30px;
}

.footer-content {
    line-height: 1.6;
    font-family: 'Roboto';
}

.footer-azfin {
    color: var(--hover-color);
}

.footer-nav-social {
    margin-top: 26px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    a {
        margin-right: 13px;
    }
    a:last-child {
        margin-right: 0;
    }
}
